bin/
obj/
.vs/
*.cache
*.pdb
*.dll
/staticwebassets/

/ApplicantAdmission.FilesApi/bin/
/ApplicantAdmission.FilesApi/obj/
/ApplicantAdmission.Jobs/bin/
/ApplicantAdmission.Jobs/obj/
/ApplicantAdmission.WebApi/bin/
/ApplicantAdmission.WebApi/obj/
/ApplicantAdmission.BusinessLogic/bin/
/ApplicantAdmission.BusinessLogic/obj/
/ApplicantAdmission.Infrastructure/bin/
/ApplicantAdmission.Infrastructure/obj/
/ApplicantAdmission.DataAccess/bin/
/ApplicantAdmission.DataAccess/obj/
